<a href="{{ project.link }}" class="project-block bg-white {{ centrer }} w-96 swiper-slide flex flex-wrap flex-col relative" role="button">
    <div class="overflow-hidden w-full relative">
        <img src="{{ project.thumbnail.src('project-thumbnail') }}" alt="{{ project.post_title }}">
        <div class="absolute z-20 py-4 px-8 bg-white inset-center w-8/12 text-center">{{ project.post_title }}</div>
    </div>
    <div class="w-full h-1/4 self-end pt-10 px-5 lg:px-10 relative bg-white project-content">
        <div class="text-lg text-center uppercase text-small">{{ project.countries.name }}</div>
        <div class="text-sm mt-3">
            {{ project.meta('extrait') }}
        </div>
        <div class="flex flex-wrap py-10 project-icons">
            <div class="w-6/12 font-bold flex items-center justify-start ">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="30px" height="25px" viewBox="0 0 41 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>briefcase(1)</title>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="bloc-project" transform="translate(-27.000000, -497.000000)">
                            <g id="Group-12" transform="translate(0.000000, -1.000000)">
                                <rect id="Rectangle" fill="#F9F9F9" x="0" y="0" width="461" height="563"></rect>
                                <g id="briefcase(1)" transform="translate(27.000000, 498.000000)" fill="#000000" fill-rule="nonzero">
                                    <path d="M38.9230259,19.3846154 C38.369165,19.3846154 37.9999773,19.7520724 37.9999773,20.3031396 L37.9999773,32.2443485 C37.9999773,32.7954946 37.6307103,33.1628727 37.0769231,33.1628727 L3.84606885,33.1628727 C3.29220797,33.1628727 2.92302026,32.7954157 2.92302026,32.2443485 L2.92302026,20.3031396 C2.92302026,19.7519935 2.55375323,19.3846154 1.99997167,19.3846154 C1.44619011,19.3846154 1.07692308,19.7520724 1.07692308,20.3031396 L1.07692308,32.2443485 C1.07692308,33.8059028 2.27690211,35 3.84614818,35 L37.0769231,35 C38.6461748,35 39.8461538,33.8059028 39.8461538,32.2443485 L39.8461538,20.3031396 C39.8461538,19.7519935 39.4768868,19.3846154 38.9230259,19.3846154 Z" id="Path"></path>
                                    <path d="M37.6311261,6.46153846 L2.75348933,6.46153846 C1.19316031,6.46153846 0,7.65152351 0,9.20770017 L0,15.0662152 C0,16.3476892 0.917803486,17.4461853 2.11104267,17.7208094 L16.5210149,20.9246516 L16.5210149,23.8538698 C16.5210149,24.4031178 16.8881836,24.7692308 17.4388184,24.7692308 L22.945797,24.7692308 C23.4965107,24.7692308 23.8636005,24.4030392 23.8636005,23.8538698 L23.8636005,20.9246516 L38.2735727,17.7208094 C39.4668119,17.4461853 40.3846154,16.3476892 40.3846154,15.0661365 L40.3846154,9.20762151 C40.3846154,7.65152351 39.1914551,6.46153846 37.6311261,6.46153846 Z M22.0279935,22.9385087 L18.3567007,22.9385087 L18.3567007,19.276986 L22.0279935,19.276986 L22.0279935,22.9385087 Z M38.5489295,15.0661365 C38.5489295,15.523817 38.2735727,15.8900087 37.814671,15.9814976 L23.8636005,19.0938509 L23.8636005,18.3615463 C23.8636005,17.8122983 23.4964318,17.4461853 22.945797,17.4461853 L17.4388184,17.4461853 C16.8881047,17.4461853 16.5210149,17.8123769 16.5210149,18.3615463 L16.5210149,19.0938509 L2.56994441,15.9815762 C2.11104267,15.8900087 1.83568585,15.5238957 1.83568585,15.0662152 L1.83568585,9.20770017 C1.83568585,8.6584521 2.20285457,8.29233916 2.75348933,8.29233916 L37.6311261,8.29233916 C38.1818397,8.29233916 38.5489295,8.65853076 38.5489295,9.20770017 L38.5489295,15.0661365 Z" id="Shape"></path>
                                    <path d="M25.1732186,0 L15.7500202,0 C14.1480668,0 12.9230769,1.259995 12.9230769,2.90772563 L12.9230769,3.87693974 C12.9230769,4.45850152 13.3000405,4.84615385 13.8653644,4.84615385 C14.4306883,4.84615385 14.8076518,4.45841823 14.8076518,3.87693974 L14.8076518,2.90772563 C14.8076518,2.32616384 15.1846154,1.93851152 15.7499393,1.93851152 L25.1731377,1.93851152 C25.7385425,1.93851152 26.1154251,2.32624714 26.1154251,2.90772563 L26.1154251,3.87693974 C26.1154251,4.45850152 26.4923887,4.84615385 27.0577126,4.84615385 C27.6231174,4.84615385 28,4.45841823 28,3.87693974 L28,2.90772563 C28.000162,1.259995 26.7751721,0 25.1732186,0 Z" id="Path"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="ml-3 text-sm"> {{ project.meta('prix') }}</span>
            </div>
            <div class="w-6/12 font-bold text-right flex items-center justify-end">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="20px" height="20px" viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>future</title>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="bloc-project" transform="translate(-230.000000, -497.000000)">
                            <g id="Group-12" transform="translate(0.000000, -1.000000)">
                                <rect id="Rectangle" fill="#F9F9F9" x="0" y="0" width="461" height="563"></rect>
                                <g id="future" transform="translate(230.000000, 498.000000)" fill="#000000" fill-rule="nonzero">
                                    <path d="M33.9747441,16.474579 C33.4084539,16.474579 32.9493514,16.9336779 32.9493514,17.4999637 C32.9493514,26.0186551 26.018791,32.9490938 17.5001025,32.9490938 C8.98134566,32.9490938 2.05085361,26.0186551 2.05085361,17.4999637 C2.05085361,8.98127237 8.98134566,2.05083363 17.5001025,2.05083363 C20.0976955,2.05083363 22.624468,2.69580063 24.8801267,3.92475842 L23.5981808,5.20669442 C23.3049185,5.49995446 23.2172133,5.94093826 23.3758757,6.32415871 C23.5346065,6.70731081 23.9084646,6.95716289 24.3232018,6.95716289 L29.2295688,6.95716289 C29.795859,6.95716289 30.2549614,6.49806397 30.2549614,5.93177815 L30.2549614,1.02544889 C30.2549614,0.610714941 30.0051758,0.236859665 29.6219524,0.0781301072 C29.2386606,-0.0806678096 28.7976734,0.00710512417 28.5044795,0.300433519 L26.3841726,2.42072408 C23.6983959,0.835000763 20.6447766,0 17.5000342,0 C12.825611,0 8.4309149,1.82046386 5.12559594,5.12568903 C1.82027699,8.43105092 0,12.8256448 0,17.5000321 C0,22.1744193 1.82027699,26.5690132 5.12559594,29.8743068 C8.43098326,33.1796687 12.825611,35 17.5000342,35 C22.1744574,35 26.5690851,33.1796687 29.874404,29.8743068 C33.1797913,26.5690132 35,22.1744193 35,17.5000321 C35,16.9336779 34.5410342,16.474579 33.9747441,16.474579 Z" id="Path"></path>
                                    <path d="M24.2852889,16.2629017 L18.7371145,16.2629017 L18.7371145,10.714703 C18.7371145,10.1500682 18.2793504,9.69230769 17.7147111,9.69230769 C17.1500718,9.69230769 16.6923077,10.1500682 16.6923077,10.714703 L16.6923077,17.285297 C16.6923077,17.8499318 17.1500718,18.3076923 17.7147111,18.3076923 L24.2852889,18.3076923 C24.8499282,18.3076923 25.3076923,17.8499318 25.3076923,17.285297 C25.3076923,16.7206621 24.8499282,16.2629017 24.2852889,16.2629017 Z" id="Path"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <span class="ml-3 text-sm">{{ project.meta('periode') }}</span></div>
        </div>
    </div>
</a>