<header class="overflow-hidden bg-white relative z-10">
    {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" srcset="{{ post.thumbnail.srcset }}" alt="{{ post.post_title }}" class="w-full">
    {% else %}
        <img src="{{options['default-images'].header.url}}" alt="{{ post.post_title }}" class="w-full">
    {% endif %}

    <h1 class="text-lg
            lg:text-5xl
            xl:text-7xl
            uppercase
            font-bold
            text-right
            pb-5 pr-5 lg:pb-14 lg:pr-20
            absolute right-0 bottom-4"
    >
        {{ post.title }}
    </h1>

</header>
{% if is_translated %}
    {# include 'helpers/language-switcher.twig' #}
{% endif %}